  <div class="row">
    <div class="col-3 bg-dark pintje " >
      <a class=" col-12 " href="https://www.facebook.com/jeugdhuisbobo/" target="_blank"><h2 class="facebook">Facebook</h2></a>

    </div>

    <div class="col-6 bg-dark  ">
      <div class="col-12 mt-2 bg-light p-3 ">
        <h2 class="text-center">Contactgegevens</h2>
        <ul>
          <li>Voorzitters: Cyrill Seghers en Stef Vranckaert - <a href="mailto:jeugdhuisbobo@gmail.com">jeugdhuisbobo@gmail.com
          </a> of stuur ons een berichtje op de facebookpagina</li>
          <li>Verhuur: Wouter Mertens - <a href="https://www.buggenhout.be/jeugdhuis-huren" target="_blank">www.buggenhout.be/jeugdhuis-huren</a>, hier vind u het contract terug, stuur ons een berichtje op de facebookpagina voor meer info!</li>
          <li>Verantwoordelijke jeugddienst: Fien Certyn - <a href="mailto:vrijetijd@buggenhout.be">vrijetijd@buggenhout.be
          </a></li>
        </ul>
      </div>
      <div class="mapouter col my-3">
        <div class="gmap_canvas">
          <iframe class="col-12" id="gmap_canvas" src="https://maps.google.com/maps?q=jeugdhuis%20bobo&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no">
          </iframe>
        </div>
      </div>
    </div>
    <div class="col-3 bg-dark gemeente ">

    <a class=" col-12  " href="https://www.buggenhout.be/jeugdhuis-huren" target="_blank"><h2 class="gemeentelink">Gemeente</h2></a>
    </div>
  </div>
  <div class="row bg-dark text-center ">

  </div>

