
.pintje {
  background-image: url("..\..\assets\images\pintje.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100px;
  transition: transform .6s;
  position: relative;
  z-index: 2;
}

.gemeente {
  background-image: url("..\..\assets\images\gemeente.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100px;
  transition: transform .6s;
  z-index: 1;
}

.pintje:hover, .gemeente:hover {
  transform: scale(1.2);
  z-index: 3;
}

.facebook {
  color: #000;
  text-decoration: none !important;
}

.gemeentelink {
  color: #000;
  bottom: 0;
  position : absolute;
  left: 15%;
}
